<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-apis/google-apis.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-traspasos">
  <template>

    <style>
      :host {
        display: block;
        margin-top: 10%;
      }
      .ds_card{
        max-width: 60rem;
      }
      .ds_cardb{
        overflow-y: auto;
        height: auto;
        max-height: 40rem;
      }
      hr.style {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
      }
      google-map {
        display: block;
        height: 200px;
        width: 800px;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Componente navegaión -->
    <bar-navigation _items=[[_items]]></bar-navigation>

    <div class="card mx-auto ds_card">
      <!-- Header -->
      <h4 class="card-header text-white border-info bg-primary">{{titulo}}</h4>

      <!-- Body -->
      <div class="card-body ds_cardb bg-light text-primary">

        <!-- Cuenta Origen -->
        <div hidden$="{{!isOrigen}}">
          <div class="row">
            <div class="col-10">
              <br>Seleccione la Cuenta Origen...</br>
                <select id="origenS" type="text" class="form-control" on-change="ShowSelectedO" >
                  <option value=""></option>
                  <template is="dom-repeat" items="{{Cuentas}}">
                    <option value="{{index}}" > {{item.Cuenta}}</option>
                  </template>
                </select>
              </br>
            </div>
          </div>
          <button id="bt" type="button" class="btn btn-primary" on-click="origen"> Continuar</button>
          <hr></hr>
          <div class="card-footer bg-info text-center" hidden$="{{!isErrorOri}}">
            <h6 class="text-white">
              Introduce la cuenta origen
            </h6>
          </div>
          <div class="card-footer bg-info text-center" hidden$="{{!isError}}">
            <h6 class="text-white">
              No puedes realizar traspaso, solo tienes una cuenta
            </h6>
          </div>
        </div>

        <!-- Cuenta Destino Traspaso -->
        <div hidden$="{{!isTraspaso}}">
          <div hidden$="{{!isDestino}}">
            <div class="row">
              <div class="col-10">
                <br>Seleccione la Cuenta Destino...</br>
                  <select id="destinoS" type="text" class="form-control" on-change="ShowSelectedD">
                    <option value=""></option>
                    <template is="dom-repeat" items="{{CuentasD}}">
                      <option value="{{index}}" > {{item.Cuenta}}</option>
                    </template>
                  </select>
                </br>
              </div>
            </div>
            <button id="btd" type="button" class="btn btn-primary" on-click="destino" on-load="Carga" >Continuar</button>
            <button  type="button" class="btn btn-secundary" on-click="atrasD">Atras</button>
            <hr></hr>
            <div class="card-footer bg-info text-center" hidden$="{{!isErrorDes}}">
              <h6 class="text-white">
                Introduce la cuenta destino
              </h6>
            </div>
          </div>
        </div>

        <!-- Cuenta Destino Transferencia -->
        <div hidden$="{{isTraspaso}}">
          <div hidden$="{{!isDestino}}">
            <div class="row">
              <div class="col-10">
                <br>Seleccione la Cuenta Destino...</br>
                <paper-input type="text" label="Cuenta Destino" label:hidden="true" value="{{CuentaDes::input}}">
                  <i class="fa fa-bars" aria-hidden="true" slot="prefix" ></i>
                </paper-input>
                </br>
              </div>
            </div>
            <button id="btd" type="button" class="btn btn-primary" on-click="destinoT" on-load="Carga">Continuar</button>
            <button  type="button" class="btn btn-secundary" on-click="atrasD">Atras</button>
            <hr></hr>
            <div class="card-footer bg-info text-center" hidden$="{{!isErrorDes}}">
              <h6 class="text-white">
                Introduce la cuenta destino
              </h6>
            </div>
          </div>
        </div>

        <!-- Descripción -->
        <div hidden$="{{!isDescripcion}}">
          <div class="row">
            <div class="col-5">
              <br>Descripción</br>
                <paper-input type="text" label="descripcion" label:hidden="true" value="{{Tipo::input}}">
                  <i class="fa fa-user fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix" ></i>
                </paper-input>
              </br>
            </div>
          </div>
          <button id="bt" type="button" class="btn btn-primary" on-click="descripcion">Continuar</button>
          <button  type="button" class="btn btn-secundary" on-click="atrasDes">Atras</button>
          <hr></hr>
          <div class="card-footer bg-info text-center" hidden$="{{!isErrorDesc}}">
            <h6 class="text-white">
              Introduce una descripción
            </h6>
          </div>
        </div>

        <!-- Importe -->
        <div hidden$="{{!isImporte}}">
          <div class="row">
            <div class="col-5">
              <br>Cantidad a transferir...</br>
                <paper-input type="number" label="Importe" label:hidden="true" value="{{Importe::input}}" allowed-pattern=[0-9]>
                  <i class="fas fa-sort-amount-up fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
                </paper-input>
              </br>
            </div>
          </div>
          <div>
            <button id="bt" type="button" class="btn btn-primary" on-click="importe">Continuar</button>
            <button  type="button" class="btn btn-secundary" on-click="atrasI">Atras</button>
          </div>
          <hr></hr>
          <div class="card-footer bg-info text-center" hidden$="{{!isErrorImp}}">
            <h6 class="text-white">
              Introduce Importe
            </h6>
          </div>
          <div class="card-footer bg-info text-center" hidden$="{{!isErrorImp1}}">
            <h6 class="text-white">
              Importe superior al saldo actual de la cuenta seleccionada
            </h6>
          </div>
        </div>

        <!-- Localización -->
        <div hidden$="{{!isLocalizacion}}">
          <div class="row">
            <div class="col-10">
              <br>Localización. Desliza el marcador al lugar del movimiento</br>
                <google-map fit-to-markers min-zoom="4" max-zoom="8"
                            language="en" api-key="AIzaSyBtO8ehhAA226i58W98cP_8aqVfoiUk30Y">
                  <google-map-marker slot="markers" latitude={{Latitud}} longitude={{Longitud}} label="M"
                                     title="El movimiento ha sido aquí" draggable="true">
                  </google-map-marker>
                </google-map>
              </br>
            </div>
          </div>
          <button id="bt" type="button" class="btn btn-primary" on-click="localizacion">Continuar</button>
          <button  type="button" class="btn btn-secundary" on-click="atrasLoc">Atras</button>
          <hr></hr>
        </div>

        <!-- Confirmar -->
        <div hidden$="{{!isConfirmar}}">
          <div class="row">

            <div class="col">
              <br>Verificar Operación...</br>

              <paper-input readonly type="text" label="Cuenta Origen" label:hidden="true" value="{{CuentaOri::input}}">
                <i class="fa fa-bars" aria-hidden="true" slot="prefix" ></i>
              </paper-input>

              <paper-input readonly type="text" label="Cuenta Destino" label:hidden="true" maxlength="24" value="{{CuentaDes::input}}">
                <i class="fa fa-bars" aria-hidden="true" slot="prefix" ></i>
              </paper-input>

              <paper-input readonly type="text" label="Descripcion" label:hidden="true" value="{{Tipo::input}}">
                <i class="fa fa-user fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix" ></i>
              </paper-input>

              <paper-input readonly type="number" label="Import" label:hidden="true" value="{{Importe::input}}">
                <i class="fas fa-sort-amount-up fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>

              <paper-input readonly type="text" label="Latitud" label:hidden="true" value="{{Latitud::input}}">
                <i class="fas fa-map-pin fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>

              <paper-input readonly type="text" label="Longitud" label:hidden="true" value="{{Longitud::input}}">
                <i class="fas fa-map-pin fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>
            </div>

          </div>
          <button id="bt" type="button" class="btn btn-primary" on-click="confirmar">Verificar</button>
          <button id="bt" type="button" class="btn btn-secundary" on-click="cancelar">Atras</button>
          <hr></hr>
        </div>
      </div>
    </div>

    <iron-ajax
      auto=""
      id="getidTransfer"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/Usuarios/{{id}}/Cuentas"
      content-type="application/json"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      id="doTransferencia"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/Transferencia"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse_Transferencia"
      on-error="showError_Transferencia"
    >

    <iron-ajax
      id="doTraspaso"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/Traspaso"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse_Traspaso"
      on-error="showError_Traspaso"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorTraspasos extends Polymer.Element {
      static get is() { return 'visor-traspasos'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          idCuenta: {
            type: Number
          },
          idCuentaOri: {
            type: Number
          },
          idCuentaDes: {
            type: Number
          },
          idMovimiento: {
            type: Number
          },
          idMovimientOri: {
            type: Number
          },
          idMovimientDes: {
            type: Number
          },
          CuentaOri: {
            type: String
          },
          CuentaDes: {
            type: String
          },
          Cuentas: {
            type: Array
          },
          CuentasD: {
            type: Array
          },
          Movimientos: {
            type: Array
          },
          columns:{
            type: Array
          },
          Descripcion: {
            type: String
          },
          Tipo: {
            type: String
          },
          Importe: {
            type: Number
          },
          Signo:{
            type: Number
          },
          ImporteOri: {
            type: Number
          },
          Latitud: {
            type: Number
          },
          Longitud: {
            type: Number
          },
          isOrigen: {
            type: Boolean,
            value: true
          },
          isDestino: {
            type: Boolean,
            value: false
          },
          isDescripcion: {
            type: Boolean,
            value: false
          },
          isImporte: {
            type: Boolean,
            value: false
          },
          isLocalizacion: {
            type: Boolean,
            value: false
          },
          isConfirmar: {
            type: Boolean,
            value: false
          },
          Fecha: {
            type: String
          },
          Importe_Tot: {
            type: Number
          },
          isErrorImp: {
            type: Boolean,
            value: false
          },
          isErrorImp1: {
            type: Boolean,
            value: false
          },
          isErrorOri: {
            type: Boolean,
            value: false
          },
          isError: {
            type: Boolean,
            value: false
          },
          isErrorDes: {
            type: Boolean,
            value: false
          },
          isErrorDesc: {
            type: Boolean,
            value: false
          },
          isTraspaso: {
            type: Boolean
          },
          titulo: {
            type: String
          }
        };
      }

      showData(data){
        console.log(data.detail.response[0].Cuentas);
        this.Cuentas= data.detail.response[0].Cuentas;

        this.Cuentas.forEach(function(element){
          var sum=0;
          element.Movimientos.forEach(function(element1){
            sum += element1.Importe;
          })
          element.Importe_Tot = sum;
        });
      }

      //* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      /* Gestionar la respuesta del servidor a Traspaso */
      manageAJAXResponse_Traspaso(data){
        console.log("Estoy en Respuesta del servidor de Traspaso");
        console.log(data.detail.response);

        alert("Traspaso realizado");
        window.location = "/user/Cuentas";
      }

      /* Gestionar la respuesta del servidor a Traspaso si error */
      showError_Traspaso(){
        console.log("Recibida error Traspaso del servidor");
        console.log(error.detail.response);
      }

      /* Gestionar la respuesta del servidor a Transferencia */
      manageAJAXResponse_Transferencia(data){
        console.log("Estoy en Respuesta del servidor de Transferencia");
        console.log(data.detail.response);

        alert("Transferencia realizada");
        window.location = "/user/Cuentas";
      }

      /* Gestionar la respuesta del servidor a Transferencia si error */
      showError_Transferencia(){
        console.log("Recibida error Transferencia del servidor");
        console.log(error.detail.response);
      }

      ShowSelectedO(){
        console.log("Seleccionada la cuenta origen");

        this.idCuentaOri = this.Cuentas[this.$.origenS.value].idCuenta;
        this.CuentaOri = this.Cuentas[this.$.origenS.value].Cuenta;
        this.Importe_Tot = this.Cuentas[this.$.origenS.value].Importe_Tot;

        this.CuentasD = this.Cuentas;
        this.CuentasD.splice((this.$.origenS.value),1);
      }

      ShowSelectedD(){
        console.log("Seleccionada la cuenta destino");

        this.idCuentaDes=(this.Cuentas[this.$.destinoS.value].idCuenta);
        this.CuentaDes=(this.Cuentas[this.$.destinoS.value].Cuenta);
      }

      origen(){
        console.log("Estoy en origen");

        /* Data Complete Validation */
        if (this.Cuentas.length < 1 && this.isTraspaso) {
          this.isError = true;
        } else if (this.$.origenS.value === "" || this.$.origenS.value === undefined) {
          this.isErrorOri = true;
        } else {
          this.isOrigen=false;
          this.isDestino=true;
          this.isErrorOri = false;
        }
      }

      destino(){
        console.log("Estoy en destino");

        /* Data Complete Validation */
        if (this.$.destinoS.value === "" || this.$.destinoS.value === undefined){
          this.isErrorDes = true;
        } else {
          console.log("destinoTraspaso");
          this.isDestino=false;
          this.isDescripcion=true;
          this.isErrorDes = false;
        }
      }

      destinoT(){
        console.log("Estoy en destino");

        /* Data Complete Validation */
        if (this.CuentaDes === "" || this.CuentaDes === undefined){
          this.isErrorDes = true;
        } else {
          this.isDestino=false;
          this.isDescripcion=true;
          this.isErrorDes = false;
        }
      }

      descripcion(){
        console.log("Estoy en descripcion");

        /* Data Complete Validation */
        if (this.Tipo === "" || this.Tipo === undefined){
          this.isErrorDesc = true;
        } else {
          this.isDescripcion=false;
          this.isImporte=true;
          this.isErrorDesc = false;
        }
      }

      importe(){
        console.log("Estoy en importe");

        /* Data Complete Validation */
        if (this.Importe === "" || this.Importe === undefined){
          this.isErrorImp = true;
        } else if (this.Importe > this.Importe_Tot) {
          this.isErrorImp = false;
          console.log("Importe superior al saldo actual");
          this.isErrorImp1=true;
        } else {
          this.isImporte=false;
          this.isLocalizacion=true;
          this.isErrorImp = false;
          this.isErrorImp1 = false;
          this.ImporteOri =this.Importe*(-1);
        }
      }

      localizacion(){
        console.log("Estoy en localizacion");
        this.isLocalizacion=false;
        this.isConfirmar=true;
      }

      /* Botones retroceso y cancelaciones */
      atrasD(){
        console.log("Estoy en Desctino-Vuelvo a Origen");
        this.isOrigen=true;
        this.isDestino=false;
      }

      atrasDes(){
        console.log("Estoy en Descripcion-Vuelvo a Destino");
        this.isDestino=true;
        this.isDescripcion=false;
      }

      atrasI(){
        console.log("Estoy en Importe-Vuelvo a Descripición");
        this.isImporte=false;
        this.isDescripcion=true;
      }

      atrasLoc(){
        console.log("Estoy en Localizacion-Vuelvo a Importe");
        this.isLocalizacion=false;
        this.isImporte=true;
      }

      cancelar(){
        console.log("Estoy en Confimar-Vuelvo a Origen");
        this.isOrigen=true;
        this.isConfirmar=false;
      }

      confirmar(e){
        console.log("Estoy en confirmar");
        console.log(this.idMovimiento);

        /* To do only if is Traspaso */
        if (this.isTraspaso){
          this.Importe = this.Importe * 1;
          var movimientoOriDes =
          [{
            "id": this.id,
            "idCuenta": this.idCuentaOri,
            "Cuenta": this.CuentaOri,
            "Fecha": this.Fecha,
            "Tipo": this.Tipo,
            "Signo": this.Signo,
            "Importe": this.ImporteOri,
            "Latitud": this.Latitud,
            "Longitud": this.Longitud
          },{
            "id": this.id,
            "idCuenta": this.idCuentaDes,
            "Cuenta": this.CuentaDes,
            "Fecha": this.Fecha,
            "Tipo": this.Tipo,
            "Signo": this.Signo,
            "Importe": this.Importe,
            "Latitud": this.Latitud,
            "Longitud": this.Longitud
          }
          ];

          /* Se realiza la petición para guardar el movimiento de Traspaso */
          this.$.doTraspaso.body = JSON.stringify(movimientoOriDes);
          this.$.doTraspaso.generateRequest();
          console.log("Peticion enviada de Traspaso");

        } else {
          var movimientoOri = {
            "id": this.id,
            "idCuenta": this.idCuentaOri,
            "Cuenta": this.CuentaOri,
            "Fecha": this.Fecha,
            "Tipo": this.Tipo,
            "Signo": this.Signo,
            "Importe": this.ImporteOri,
            "Latitud": this.Latitud,
            "Longitud": this.Longitud
          };

          /* Se realiza la petición para guardar el movimiento de Transferencia */
          this.$.doTransferencia.body = JSON.stringify(movimientoOri);
          this.$.doTransferencia.generateRequest();
          console.log("Peticion enviada de Movimiento Origen");
        }
      }

      constructor(){
          super();

          // Conseguir elemento*/
          this.id=localStorage.getItem("id");
          console.log(this.id);
          this.idCuenta=localStorage.getItem("idCuenta");
          this.Signo=1;
          this.Latitud=43.2603479;
          this.Longitud=-2.9334110;

          var date = new Date();
          var month = date.getMonth() +1
          if (month < 10) {
            month = '0' + month;
          }
          this.Fecha = (date.getDate() + "/" + (month) + "/" + date.getFullYear());

          this.isTraspaso = true;
          this.titulo = "Traspaso";
          console.log(this.titulo);

          this._items = [{
            "path": "/user",
            "label": "Posición Global"
          },{
            "path": "/user/Cuentas",
            "label": "Cuentas"
          },{
            "path": "/perfil",
            "label": "Perfil"
          },{
            "path": "/logout",
            "label": "Logout"
          }]
        }

        ready(){
          super.ready();
          console.log (this.titulo);

          /* Control Transferencia o Traspaso */
          if (this.titulo === "Transferencia"){
            this.isTraspaso = false;
          } else {
            this.isTraspaso = true;
          }
        }

      }

    window.customElements.define(VisorTraspasos.is, VisorTraspasos);

  </script>
</dom-module>
