<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/visor-traspasos/visor-traspasos.html">

<dom-module id="visor-transferencias">
  <template>

    <style>
      :host {
        display: block;
        margin-top: 10%;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Componente visor-traspasos -->
    <visor-traspasos titulo={{titulo}}></visor-traspasos>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorTransferencias extends Polymer.Element {
      static get is() { return 'visor-transferencias'; }
      static get properties() {
        return {
          titulo: {
             type: String
          }
        };
      }

      constructor(){
        super();
        this.titulo="Transferencia";
        console.log(this.Titulo);
      }
    }

    window.customElements.define(VisorTransferencias.is, VisorTransferencias);

  </script>
</dom-module>
