<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-avatar/paper-avatar.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="signup-user">
  <template>
    <style>
      :host {
        display: block;
      }
      .ds_card{
        margin-top: 10%;
        max-width: 60rem;
      }
      .ds_cardb{
        overflow-y: auto;
        height: 600px;
      }
      paper-avatar.x-large {
        --paper-avatar-width: 60px;
      }

    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation _items=[[_items]]></bar-navigation>

    <div class="card mx-auto ds_card">
      <!-- Header -->
      <h4 class="card-header text-center text-white border-info bg-primary">{{Titulo}}</h4>

      <!-- Body -->
      <div class="card-body ds_cardb bg-light text-white">
          <!-- Contenido del body -->
          <div class="text-center">
            <paper-avatar label={{email}} src="{{avatar}}" class="x-large text-center"></paper-avatar>
          </div>

          <div class="row">
            <div class="col">
              <paper-input readonly$={{!isSignup}} class="col-md-10" type="text" label="Email" label:hidden="true" value="{{email::input}}" required>
                <i class="fas fa-envelope fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix" ></i>
              </paper-input>

              <paper-input class="col-md-10" type="password" label="Password" label:hidden="true" value="{{password::input}}" required>
                <i class="fa fa-lock fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>
            </div>

            <div class="col">
              <paper-input class="col-md-10" type="text" label="Nombre" label:hidden="true" value="{{nombre::input}}">
                <i class="fa fa-user fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix" ></i>
              </paper-input>

              <paper-input class="col-md-10" type="text" label="Apellido 1" label:hidden="true" value="{{apellido1::input}}">
                <i class="fas fa-user-friends fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>

              <paper-input class="col-md-10" type="text" label="Apellido 2" label:hidden="true" value="{{apellido2::input}}">
                <i class="fas fa-users fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>

              <paper-input class="col-md-10" type="text" label="Sexo: (M) Mujer / (H) Hombre" label:hidden="true" value="{{sexo::input}}"
                maxlength="1" auto-validate allowed-pattern="[MH]">
                <i class="fas fa-male fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
                <i class="fas fa-female fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>

              <paper-input class="col-md-10" type="text" label="Avatar:click foto o copia una url" label:hidden="true" value="{{avatar::input}}">
                <i class="fas fa-user-ninja fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>
              <div class="col-md-10 mx-auto">
                <paper-avatar label="?" class="x-large text-center" on-click="saveAvatar"></paper-avatar>
                <paper-avatar src="http://img1.jurko.net/drevil.jpg" class="x-large text-center" on-click="saveAvatar1"></paper-avatar>
                <paper-avatar src="http://img1.jurko.net/avatar_1110.jpg" class="x-large text-center" on-click="saveAvatar2"></paper-avatar>
                <paper-avatar src="http://img1.jurko.net/avatar_10720.jpg" class="x-large text-center" on-click="saveAvatar3"></paper-avatar>
              </div>

              <paper-input class="col-md-10" type="number" label="Edad" label:hidden="true" value="{{edad::input}}">
                <i class="fas fa-sort-amount-up fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>

              <paper-input class="col-md-10" type="text" label="Dirección" label:hidden="true" value="{{direccion::input}}">
                <i class="fas fa-map-pin fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
              </paper-input>
            </div>
          </div>

          <div class="text-center" hidden$="{{!isSignup}}">
            <button class="btn btn-primary btn-block my-4" on-click="signup">Signup</button>
          </div>
          <div class="text-center" hidden$="{{isSignup}}">
            <button class="btn btn-primary btn-block my-4" on-click="perfil">Actualizar Perfil</button>
          </div>

      <!-- Footer -->
      <div class="card-footer bg-info text-center" hidden$="{{!isError}}">
        <h6 class="text-white">
          Este email ya está registrado
        </h6>
      </div>
      <div class="card-footer bg-info text-center" hidden$="{{!isEmpty}}">
        <h6 class="text-white">
          Completa Email y Password
        </h6>
      </div>

      </div>
    </div>

    <iron-ajax
      id="doSignup"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/signup"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse_Signup"
      on-error="showError_Signup"
    >

    <iron-ajax
      id="doPerfil"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/perfil"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse_Perfil"
      on-error="showError_Perfil"
    >

    <iron-ajax
      id="getUser"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/Usuarios/{{id}}"
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="manageAJAXResponse_User"
      on-response="showData_User"
    >

  </template>

  <script>

    class SignupUser extends Polymer.Element {
      static get is() { return 'signup-user'; }
      static get properties() {
        return {
          email: {
             type: String
          },
          password: {
             type: String
          },
          nombre: {
             type: String
          },
          apellido1: {
             type: String
          },
          apellido2: {
             type: String
          },
          sexo: {
             type: String
          },
          avatar: {
             type: String
          },
          avatar_def: {
             type: String
          },
          edad: {
             type: Number
          },
          poblacion: {
             type: String
          },
          isError:{
            type: Boolean
          },
          Titulo:{
            type: String
          },
          tipo:{
            type: String
          },
          isSignup:{
            type: Boolean
          },
          _items:{
            type: Array
          },
          isEmpty: {
            type: Boolean,
            value: false
          }
        };
      }

      /* Función signup: se ejecuta al pulsar signup */
      signup(){
        console.log("El usuario ha pulsado el botón");
        var signupData = {
          "Email": this.email,
          "Password": this.password,
          "Nombre": this.nombre,
          "Apellido1": this.apellido1,
          "Apellido2": this.apellido2,
          "Sexo": this.sexo,
          "Avatar": this.avatar,
          "Edad": this.edad,
          "Direccion": this.direccion
        };

        /* Data Complete Validation */
        if (this.email === undefined || this.password === undefined || this.password === ""){
          this.isEmpty = true;
        } else {
          this.$.doSignup.body = JSON.stringify(signupData);
          this.$.doSignup.generateRequest();
        }

        console.log("Petición enviada de Signup");
      }

      /* Función perfil: se ejecuta al pulsar perfil */
      perfil(){
        console.log("El usuario ha pulsado el botón");
        var perfilData = {
          "id": this.id,
          "Email": this.email,
          "Password": this.password,
          "Nombre": this.nombre,
          "Apellido1": this.apellido1,
          "Apellido2": this.apellido2,
          "Sexo": this.sexo,
          "Avatar": this.avatar,
          "Edad": this.edad,
          "Direccion": this.direccion
        };

        /* Data Complete Validation */
        if (this.email === undefined || this.password === undefined || this.password === ""){
          this.isEmpty = true;
        } else {
          this.$.doPerfil.body = JSON.stringify(perfilData);
          this.$.doPerfil.generateRequest();
        }

        console.log("Petición enviada de Perfil");
      }

      /* Gestionar la respuesta del servidor si todo ok */
      manageAJAXResponse_Signup(data){
        console.log("Recibida respuesta del servidor");

        // Guardar id e email en la local storage
        localStorage.clear();
        console.log(data.detail.response);
        localStorage.setItem("id", data.detail.response.id);
        localStorage.setItem("email", this.email);

        window.location = "/user";
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError_Signup(error){
        console.log("Hubo un error");
        console.log("Hola" + error.detail.response);
        console.log("Hola2");
        console.log(error);
        this.isError=true;
      }

      /* Gestionar la respuesta del servidor si todo ok */
      manageAJAXResponse_Perfil(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);

        window.location = "/user";
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError_Perfil(error){
        console.log("Hubo un error");
        console.log(error);
      }

      /* Función login: se ejecuta al pulsar login */
      getUser(){
        console.log("El usuario ha pulsado el botón");
        var userData = {
          "id": this.id
        };

        this.$.getUser.body = JSON.stringify(userData);
        this.$.getUser.generateRequest();

        console.log("Petición enviada");
        }

      /* Gestionar la respuesta del servidor si todo ok */
      manageAJAXResponse_User(data){
        console.log( "Recibida respuesta del servidor");
        console.log( data.detail.response);

        this.id = data.detail.response[0].id;
        this.email = data.detail.response[0].Email;
        this.password = data.detail.response[0].Password;
        this.nombre = data.detail.response[0].Nombre;
        this.apellido1 = data.detail.response[0].Apellido1;
        this.apellido2 = data.detail.response[0].Apellido2;
        this.sexo = data.detail.response[0].Sexo;
        if (data.detail.response[0].Avatar !== undefined) {
            this.avatar = data.detail.response[0].Avatar;
        }
        else {
          this.avatar = "";
        }

        this.avatar_def = data.detail.response[0].Avatar;
        this.edad = data.detail.response[0].Edad;
        this.direccion = data.detail.response[0].Direccion;
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError_User(error){
        console.log("Hubo un error");
        console.log(error);
      }

      saveAvatar(){
        if (this.avatar !== undefined) {
            this.avatar = this.avatar_def;
        }
        else {
          this.avatar = "";
        }
      }

      saveAvatar1(){
        this.avatar="http://img1.jurko.net/drevil.jpg";
      }

      saveAvatar2(){
        this.avatar="http://img1.jurko.net/avatar_1110.jpg";
      }

      saveAvatar3(){
        this.avatar="http://img1.jurko.net/avatar_10720.jpg";
      }

      constructor(){
        super();
        this.isError=false;
        this.Titulo = "SingUp Usuario";
        this.tipo = "signup";
        this.id = localStorage.getItem("id");
        this.isSignup = true;
        console.log("signup");
      }

      ready(){
        super.ready();
        if (this.tipo === "perfil"){
          console.log("perfil");
          this.getUser();
          this.Titulo = "Perfil Usuario"
          this.isSignup = false;
          this.avatar_def = this.avatar;

          this._items = [{
            "path": "/user",
            "label": "Posición Global"
          },{
            "path": "/user/Cuentas",
            "label": "Cuentas"
          },{
            "path": "/perfil",
            "label": "Perfil"
          },{
            "path": "/logout",
            "label": "Logout"
          }]
        }
      }

    }

    window.customElements.define(SignupUser.is, SignupUser);

  </script>
</dom-module>
