<!-- Importar componentes -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="logout-user">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 15%;
      }
      ._quote {
        color: blue;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation></bar-navigation>

    <blockquote class="blockquote text-center _quote">
      <h1>Gracias por la visita</h1>
      <footer class="blockquote-footer">Un abrazo de <cite title="Source Title">Santiago y David</cite></footer>
    </blockquote>

    <iron-ajax
      id="doLogout"
      url="http://my-route-sfrdhgpracticioner.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/logout"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>

    class LogoutUser extends Polymer.Element {
      static get is() { return 'logout-user'; }
      static get properties() {
        return {
          id: {
            type: Number
          }
        }
      }

      // Mostrar respuesta del servidor
      showData(data){
        console.log("Respuesta BackEnd");
        console.log( data.detail.response);
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      ready(){
        super.ready();
        // Conseguir elemento
        this.id=localStorage.getItem("id");
        localStorage.removeItem("id");
        localStorage.removeItem("idCuenta");

        var logoutData = {
          "id": this.id
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();

        console.log("Petición enviada");
      }
    }

    window.customElements.define(LogoutUser.is, LogoutUser);

  </script>
</dom-module>
