<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-home">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 15%;
      }
      ._quote {
        color: blue;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation></bar-navigation>

    <blockquote class="blockquote text-center _quote">
      <h1>Proyecto Ninja Practicioner</h1>
      <footer class="blockquote-footer">Creado por <cite title="Source Title">Santiago y David</cite></footer>
    </blockquote>

  </template>

  <script>

    class VisorHome extends Polymer.Element {
      static get is() { return 'visor-home'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(VisorHome.is, VisorHome);

  </script>
</dom-module>
