<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-avatar/paper-avatar.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/signup-user/signup-user">

<dom-module id="perfil-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Componente signup -->
    <signup-user tipo={{tipo}}></signup-user>

  </template>

  <script>

    class PerfilUser extends Polymer.Element {
      static get is() { return 'perfil-user'; }
      static get properties() {
        return {
          Titulo: {
             type: String
          },
          tipo: {
             type: String
          }
        };
      }

      constructor(){
        super();
        this.tipo = "perfil";
      }
    }

    window.customElements.define(PerfilUser.is, PerfilUser);

  </script>
</dom-module>
